.hero-p{
    margin-top: 20px;
    padding-bottom: 5px;
    font-family: "Lora", serif;
}

.hero-h1{
    font-family: "Lora", serif;
}

.info{
    padding: 150px;
    font-family: "Lora", serif;
}

@media screen and (max-width: 767px) {
    .info {
        padding: 0;
    }
}
